<h3>Past Newsletters</h3>

<h5>2023</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-12.pdf">December 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-11.pdf">November 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-10.pdf">October 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-09.pdf">September 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-08.pdf">August 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-07.pdf">July 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-06.pdf">June 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-05.pdf">May 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-04.pdf">April 2023</a></li>
<li><a href="https://blog.indeedandtruth.org/2023/03/march-2023-newsletter/">March 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-02.pdf">February 2023</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2023-01.pdf">January 2023</a></li>
</ul>

<h5>2022</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-12.pdf">December 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-11.pdf">November 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-10.pdf">October 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-09.pdf">September 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-08.pdf">August 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-07.pdf">July 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-06.pdf">June 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-05.pdf">May 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-04.pdf">April 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-03.pdf">March 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-02.pdf">February 2022</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2022-01.pdf">January 2022</a></li>
</ul>

<h5>2021</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-12.pdf">December 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-11.pdf">November 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-10.pdf">October 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-09.pdf">September 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-08.pdf">August 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-07.pdf">July 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-06.pdf">June 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-05.pdf">May 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-04.pdf">April 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-03.pdf">March 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-02.pdf">February 2021</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2021-01.pdf">January 2021</a></li>
</ul>

<h5>2020</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-12.pdf">December 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-11.pdf">November 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-10.pdf">October 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-09.pdf">September 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-08.pdf">August 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-07.pdf">July 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-06.pdf">June 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-05.pdf">May 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-04.pdf">April 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-03.pdf">March 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-02.pdf">February 2020</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2020-01.pdf">January 2020</a></li>
</ul>

<h5>2019</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-12.pdf">December 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-11.pdf">November 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-10.pdf">October 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-09.pdf">September 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-08.pdf">August 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-07.pdf">July 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-06.pdf">June 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-05.pdf">May 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-04.pdf">April 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-03.pdf">March 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-02.pdf">February 2019</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2019-01.pdf">January 2019</a></li>
</ul>

<h5>2018</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-12.pdf">December 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-11.pdf">November 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-10.pdf">October 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-09.pdf">September 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-08.pdf">August 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-07.pdf">July 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-06.pdf">June 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-05.pdf">May 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-04.pdf">April 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-03.pdf">March 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-02.pdf">February 2018</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2018-01.pdf">January 2018</a></li>
</ul>

<h5>2017</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-11.pdf">November 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-10.pdf">October 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-09.pdf">September 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-08.pdf">August 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-07.pdf">July 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-06.pdf">June 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-05.pdf">May 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-04.pdf">April 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-03.pdf">March 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-02.pdf">February 2017</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2017-01.pdf">January 2017</a></li>
</ul>

<h5>2016</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-11.pdf">November 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-10.pdf">October 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-09.pdf">September 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-08.pdf">August 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-07.pdf">July 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-05.pdf">May / June 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-04.pdf">April 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-03.pdf">March 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-02.pdf">February 2016</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2016-01.pdf">January 2016</a></li>
</ul>

<h5>2015</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-12.pdf">December 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-11.pdf">November 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-10.pdf">October 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-09.pdf">September 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-08.pdf">August 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-07.pdf">July 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-06.pdf">June 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-05.pdf">May 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-04.pdf">April 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-03.pdf">March 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-02.pdf">February 2015</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2015-01.pdf">January 2015</a></li>
</ul>

<h5>2014</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-11.pdf">November 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-10.pdf">October 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-09.pdf">September 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-08.pdf">August 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-07.pdf">July 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-06.pdf">June 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-05.pdf">May 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-03.pdf">March 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-02.pdf">February 2014</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2014-01.pdf">January 2014</a></li>
</ul>


<h5>2013</h5>

<ul>
<li><a href="/blog/?p=2821">December 2013</a></li>
<li><a href="/blog/?p=2785">November 2013</a></li>
<li><a href="/blog/?p=2696">September 2013</a></li>
<li><a href="/blog/?p=2482">July 2013</a></li>
<li><a href="/blog/?p=2462">June 2013</a></li>
<li><a href="/blog/?p=2424">April 2013</a></li>
<li><a href="/blog/?p=2307">March 2013</a></li>
<li><a href="/blog/?p=2220">February 2013</a></li>
</ul>


<h5>2012</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-11.pdf">November 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-10.pdf">October 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-09.pdf">September 2112</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-08.pdf">August 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-07.pdf">July 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-06.pdf">June 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-05.pdf">May 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-04.pdf">April 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-03.pdf">March 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-02.pdf">February 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2012-01.pdf">January 2012</a></li>
</ul>


<h5>2011</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-01.pdf">December 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-10.pdf">October 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-09.pdf">September 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-08.pdf">August 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-07.pdf">July 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-06.pdf">June 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-05.pdf">May 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-04.pdf">April 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-03.pdf">March 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-02.pdf">February 2011</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2011-01.pdf">January 2011</a></li>
</ul>


<h5>2010</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-01.pdf">December 2012</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-11.pdf">November 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-10.pdf">October 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-09.pdf">September 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-08.pdf">August 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-07.pdf">July 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-06.pdf">June 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-05.pdf">May 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-04.pdf">April 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-03.pdf">March 2010</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2010-02.pdf">February 2010</a></li>
</ul>


<h5>2009</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2009-12.pdf">December 2009</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2009-10.pdf">October 2009</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2009-08.pdf">August 2009</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2009-06.pdf">June 2009</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2009-04.pdf">April 2009</a></li>
</ul>


<h5>2008</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-11.pdf">November 2008</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-09.doc">September 2008</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-07.doc">July 2008</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-06.doc">June 2008</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-05.doc">May 2008</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-04.doc">April 2008</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-03.doc">March 2008</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2008-01.doc">January 2008</a></li>
</ul>


<h5>2007</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-11.doc">November 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-10.doc">October 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-09.doc">September 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-08.doc">August 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-07.doc">July 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-06.doc">June 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-05.doc">May 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-04.doc">April 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-03.doc">March 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-02.doc">February 2007</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2007-01.doc">January 2007</a></li>
</ul>


<h5>2006</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-11.doc">November 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-10.doc">October 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-09.doc">September 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-08.doc">August 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-07.doc">July 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-06.doc">June 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-05.doc">May 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-04.doc">April 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-03.doc">March 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-02.doc">February 2006</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2006-01.doc">January 2006</a></li>
</ul>


<h5>2005</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-11.doc">November 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-10.doc">October 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-09.doc">September 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-08.doc">August 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-07.doc">July 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-06.doc">June 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-05.doc">May 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-04.doc">April 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-02.doc">February 2005</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2005-01.doc">January 2005</a></li>
</ul>


<h5>2004</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-11.doc">November 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-10.doc">October 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-09.doc">September 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-08.doc">August 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-07.doc">July 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-06.doc">June 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-05.doc">May 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-04.doc">April 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-03.doc">March 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-02.doc">February 2004</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2004-01.doc">January 2004</a></li>
</ul>


<h5>2003</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2003-11.doc">November 2003</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2003-10.doc">October 2003</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2003-09.doc">September 2003</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2003-08.doc">August 2003</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2003-07.doc">July 2003</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2003-06.doc">June 2003</a></li>
</ul>


<h5>2001</h5>

<ul>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2001-05.doc">May 2001</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2001-03.doc">March 2001</a></li>
<li><a href="https://s3.amazonaws.com/files.indeedandtruth.org/newsletters/2001-02.doc">February 2001</a></li>
</ul>