.stats {
    display: flex;
    gap: 1rem;
    font-family: nudista-web, sans-serif;
    font-weight: 600;
    flex-wrap: wrap;
}

.stats__col {
    flex-grow: 1;
}

body:not(.wp-admin) .stats__col {
    background-color: var(--ink);
    color: white;
    padding: 1rem 2rem;
}

.stats__stat {
    font-size: 70px;
}

.stats__desc {
    font-size: 26px;
}

.wp-admin .stats__stat {
    font-size: 48px;
}

.wp-admin .stats__desc {
    font-size: 21px;
}